#content {
    max-width: 1600px;
    margin: 0 auto;
}
#nav a {
    text-align: center;
    color: blue;
}
#nav a:hover {
    background-color: aliceblue;
    color: aqua;
}
.home-title {
    color: violet;
}
#h4 {
    color: chartreuse;
}
.book, .join {
    background-color: antiquewhite;
    color: black;
}
.book:hover, .join:hover {
    background-color: azure;
    color: teal;
}
.msg h2 {
    color: steelblue;
}
.msg p {
    color: springgreen;
}
#footer {
    background-color: black;
    color: aqua;
}
#footer a {
    color: slateblue;
}
#footer a:hover {
    color: seagreen;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
#main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: beige;
}
#body {
    background-color: #fcfbfb;
}
#header {
    background-color: blanchedalmond;
}
.msg {
    background-color: bisque;
}